@import "general/normilize";
@import "general/container";
@import "general/variables";
//blocks

@import "blocks/header";
@import "blocks/catalog";
@import "blocks/nav";
@import "blocks/movie";
@import "blocks/footer";
@import "blocks/filter";


*{
    font-family: 'Montserrat', sans-serif;
}

main{
    margin-top: 20px;
}
html,
body {
  height: 100%;
}
    ul{
    padding-left: 20px;

    }
body{
    background-color:rgb(255, 255, 255);
}
.entry-title{
    font-size: 30px;
    margin: 0;
}
.entry-content{
    a{
        color: $second-color;
    }
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

@media(max-width:768px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .catalog__item-card{
    max-width: 280px;
  }
}