@import "general/normilize";
@import "general/container";
@import "general/variables";
//blocks

@import "blocks/header";
@import "blocks/catalog";
@import "blocks/nav";
@import "blocks/movie";
@import "blocks/footer";


*{
    font-family: 'Montserrat', sans-serif;
}

main{
    margin-top: 20px;
}
html,
body {
  height: 100%;
}
    ul{
    padding-left: 20px;

    }
body{
    background-color:rgb(255, 255, 255);
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}