form#filter{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.films__title{
    text-align: center;
}

div#response {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

@media(max-width:1023px){
    div#response{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:700px){
    div#response{
        grid-template-columns: 1fr;
    }
}