.header{
    width: 100%;
    height: 50px;
    background-color:$second-color;
    &__title{
        text-align: center;
        margin: 0px;
        font-weight: 500;
    }
    &__link{
        text-decoration: none;
        color: $main-color;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

@media(max-width:1023px){
    .header{
        &__title{
            font-size: 24px;
        }
    }
}